[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
alembic = "*"
astunparse = "*"
blis = "*"
cachetools = "*"
catalogue = "*"
certifi = "*"
chardet = "*"
click = "*"
cymem = "*"
fastapi = "*"
flatbuffers = "*"
gast = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-pasta = "*"
greenlet = "*"
grpcio = "*"
h5py = "*"
idna = "*"
itsdangerous = "*"
joblib = "*"
kiwisolver = "*"
matplotlib = "*"
murmurhash = "*"
numpy = "*"
oauthlib = "*"
opt-einsum = "*"
pandas = "*"
pathy = "*"
plotly = "*"
preshed = "*"
protobuf = "*"
psycopg2-binary = "*"
py-openaq = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pydantic = "*"
pyparsing = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
smart-open = "*"
srsly = "*"
termcolor = "*"
thinc = "*"
threadpoolctl = "*"
tqdm = "*"
tweepy = "*"
typer = "*"
typing-extensions = "*"
urllib3 = "*"
uvicorn = "*"
wasabi = "*"
wrapt = "*"
Cycler = "*"
Jinja2 = "*"
Keras-Preprocessing = "*"
Mako = "*"
Markdown = "*"
MarkupSafe = "*"
Pillow = "*"
PySocks = "*"
SQLAlchemy = "*"
Werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.8"
